# Ignora tudo por padrão; libera somente as entradas necessárias.
*

!.gitignore
!index.qmd
!config.R
!funcoes_graf.r
!senado.scss

!assets/
assets/*
!assets/logo-datasenado.jpg

!tabelas/
tabelas/*
!tabelas/dados_001.rda

# Inclui a pasta justiça e todo o seu conteúdo
!justica/
!justica/**